*{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background-color: #808080;
}

::selection {
    color: #fff;
    background-color: #808080;
}

::-webkit-calendar-picker-indicator{
    margin-left: 0px;
}

html{
	min-height: 100%;
	background-color: #fff;
}

html,body{
    height: 100%;
}

body, input, textarea, ul, select, option {
    font-family: 'Poppins', sans-serif;
	font-weight: 300;
	background-color: #fff;
	color: #808080;
	resize: none;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 32px;
}

h4{
    font-size: 28px;
}

h5{
    font-size: 24px;
}

h6{
    font-size: 20px;
}

p{
    font-size: 16px;
    line-height: 24px;
}

a{
    text-decoration: none;
    color: #808080;
}

a:hover{
	color: #F09006;
	text-decoration: none;
	cursor: pointer;
}

b, strong{
    font-weight: bold;
}

pre{
  background-color: inherit;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.container{
    max-width: 1199px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: table;
}

.container-fluido{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: table;
}

.container-mant{
    max-width: 600px;
    width: 600px;
    margin: 0 auto;
    position: relative;
    display: table;
}

.fila{
    width: 100%;
    display: table;
}

.nivelado{
	display: flex;
	align-items: center;
}

.columna {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.columna-1{
  width: 100%;
}

.columna-2 {
   width: 50%;
}

.columna-2c {
	width: 40%;
}

.columna-3 {
   width: 33.33%;
}

.columna-3c{
   width: 66.66%;
}

.columna-3d {
    width: 31.67%;
}

.columna-3e {
    width: 51.67%;
}

.columna-4 {
   width: 25%;
}

.columna-4c{
   width: 75%;
}

.columna-5 {
    width: 20%;
}

.columna-5a {
    width: 30%;
}

.columna-5b {
    width: 22%;
}

.columna-5c {
    width: 80%;
}

.columna-5d {
    width: 40%;
}

.columna-5e {
    width: 18%;
}

.columna-5f {
    width: 60%;
}

.columna-5g {
    width: 38%;
}

.columna-5h {
    width: 28%;
}

.columna-6 {
    width: 16.66%;
}

.columna-6c {
    width: 83.44%;
}

.columna-7 {
   width: 14%;
}

.columna-7c {
	width: 86%;
}

.columna-8 {
	width: 12.5%;
}
 
.columna-8c {
	 width: 87.5%;
}

.columna-9 {
	width: 11.11%;
}
 
.columna-9c {
	 width: 88.99%;
}

.columna-10 {
	width: 10%;
}
 
.columna-10c {
	 width: 90%;
}

.columna-12 {
	width: 8.33%;
}

.img-responsive{
    display: block;
    width: 100%;
    height: auto;
}

.space{
	display: block;
	height: 20px;
}

.space1{
	display: block;
	height: 10px;
}

.space2{
	display: block;
	height: 40px;
}

.space3{
	display: block;
	height: 60px;
}

.datos{
	padding: 10px 5px 15px 0px
}

/*---- Banner Home ---- */

.header-principal{
	position: relative;
	display: block;
	padding: 10px;
}

.header-principal .container{
	border-bottom: 5px solid #F09006;
}

.title-principal{
	color: #F09006;
	font-weight: 700;
	text-transform: uppercase;
}

.title-404{
	color: #F09006;
	font-size: 100px;
	font-weight: 700;
	text-transform: uppercase;
}

.text-inscripcion {
	background: #F090062b;
	display: block;
    border-left: 5px solid #F09006;
    margin-bottom: 30px;
    padding: 30px 20px;
}

.text-inscripcion a{
	color: #F09006;
}

.btn-effie{
	position: relative;
	display: inline-block;
	background-color: #F09006;
	color: #fff;
	width: 150px;
	font-weight: 500;
	padding: 10px 15px;
	border: 2px solid #F09006;
	border-radius:10px;
	transition: all .3s ease-in;
	text-align: center;
	cursor: pointer;
}

.btn-effie:hover{
	background-color: #fff;
	border: 2px solid #F09006;
	color: #F09006;
}

.btn-effie:disabled{
	background-color:#f6f2e9;
	border: 1px solid #808080;
	color: #808080;
	cursor: auto;
}

.btn-effie-inv{
	position: relative;
	display: inline-block;
	background-color: #fff;
	color: #F09006;
	width: 150px;
	font-weight: 500;
	padding: 10px 15px;
	border: 2px solid #F09006;
	border-radius:10px;
	transition: all .3s ease-in;
	text-align: center;
	cursor: pointer;
}

.btn-effie-inv:hover{
	background-color: #F09006;
	color: #fff;
}

.btn-effie-inv:disabled{
	background-color:#f6f2e9;
	border: 1px solid #808080;
	color: #808080;
	cursor: auto;
}

.alert-effie{
	background-color: #F09006;
	display: block;
	color: #fff;
	padding: 30px;
}

.alert-effie h4{
	font-weight: 600;
}

.title1{
	color: #808080;
	font-weight: 500;
	margin: 20px 0px 30px;
}

.title4{
	color: #F09006;
	font-weight: 500;
	margin: 50px 30px;
}

.title2{
	border-radius:10px;
	background-color: #F09006;
	padding: 10px 15px;
	margin-bottom: 20px;
}

.title2 h6{
	color: #fff;
	font-weight: 400;
}

.title2 h6 span{
	font-weight: 700;
}

.title2 p{
	color: #fff;
	font-size: 16;
	font-weight: 300;
	margin-top: 10px;
	padding-bottom: 0px;
}

.title3{
	display: block;
	color: #F09006;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #F09006;
}

.span-ttl{
	font-weight:bold;
}

.alert-danger{
	color: #A94442;
	background-color: #FADBD8;
	border: 1px solid #A94442;
	border-radius: 10px;
	width: 100%;
}

.alert-danger ul{
	color: #A94442 !important;
	background-color: #FADBD8 !important;
}

.alert-info{
	color: #808080;
	background-color:#f6f2e9;
	border: 1px solid #808080;
	border-radius: 10px;
	width: 100%;
}

.span-alert{
	color:#A94442;
	background-color: #FADBD8;
	border: 1px solid #A94442;
	border-radius: 10px;
	padding: 15px;
	margin: 0px 0px 20px 0px;
}

.span-success{
	color: #808080;
	background-color: #f6f2e9;
	border: 1px solid #808080;
	border-radius: 10px;
	padding: 15px;
	margin: 0px 0px 20px 0px;
}

.span-fail{
	color: #A94442;
	background-color: #FADBD8;
	border: 1px solid #A94442;
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 15px;
	display: none;
	width: 100%;
}

.span-fail ul{
	color: #A94442;
	background-color: #FADBD8;
}

.span-done{
	color: #808080;
	background-color: #f6f2e9;
	border: 1px solid #808080;
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 15px;
	display: none;
	width: 100%;
}

.form-participacion label{
	display: block;
	width: 100%;
	font-size: 16px;
	margin-bottom: 5px;
}

input[type="tel"],
input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="color"],
input[type="number"],
input[type="password"],
input[type="datetime-local"],
textarea,
select{
	width: 100%;
	font-size: 16px;
	margin-bottom: 15px;
	padding: 5px 10px;
	border: 1px solid #F09006;
	border-radius:10px;
	resize: none;
}

input[type="search"]{
	font-size: 16px;
	padding: 5px 10px;
	border: 1px solid #F09006;
	border-radius:10px;
}

.dataTables_length label select{
	width: 80px;
}

.search-form input{
	padding: 5px 10px !important;
}

input:read-only,
input:disabled,
textarea:disabled,
select:disabled{
	background-color: #EDEEF0;
}

input[type="color"]{
	height: 36px;
}

li input[type="text"]{
	width: 50%;
	font-size: 16px;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #F09006;
}

p input[type="text"]{
	width: 50%;
	font-size: 16px;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #F09006;
}

.row-files {
	display: flex;
	align-items: center;
}

.tablealumno{
	width: 100%;
	font-size: 16px;
}

.tablealumno th{
	position: relative;
	background-color: #F09006;
	color: #fff;
	padding: 10px 0px;
	text-align: center;
}

.tablealumno th:after{
	position: absolute;
	right: 0;
}

.tablealumno th:last-child:after{
	content: inherit;
}

.tablealumno td{
	padding: 10px;
}

.tablealumno,
.tablealumno th, 
.tablealumno td, 
.tablealumno tr{
	border: 0px solid #fff !important;
}

.tablealumno tr:nth-child(2n+1){
	background-color: #f6f2e9;
}

.tablealumno tr:hover{
	background-color: #F0900633;
	cursor: pointer;
}

.dataTables_info {
	margin-top: 20px;
	float: left;
	padding: 5px;
}

.dataTables_paginate {
	margin-top: 20px;
	float: right;
	padding: 5px;
}

.paginate_button {
	background-color: #fff !important;
	color: #F09006 !important;
	margin: 0px 5px;
	padding: 5px 10px;
	border: 1px solid #F09006 !important;
	transition: all .3s ease-in;
	cursor: pointer;
}

.paginate_button.first{
	border-radius: 10px 0 0 10px;
}

.paginate_button.last{
	border-radius: 0 10px 10px 0;	
}

.paginate_button:hover{
	background-color: #F09006 !important;
	color: #fff !important;
}

.paginate_button.current{
	background-color: #F09006 !important;
	color: #fff !important;
}

.dataTables_filter {
	float: right;
	padding: 15px 5px;
}

.dataTables_length{
	float: left;
	padding: 15px 5px;
}

.dataTables_length label{
	width: 230px;
}

.dataTables_length select{
	width: 25%;
}

.tablealumno tr:first-child th:first-child { border-top-left-radius: 10px; }
.tablealumno tr:first-child th:last-child { border-top-right-radius: 10px; }
.tablealumno tr:last-child td:first-child { border-bottom-left-radius: 10px; }
.tablealumno tr:last-child td:last-child { border-bottom-right-radius: 10px; }

.marcas .tab{
	text-align: center;
}

.marcas .tab .tablinks{
	display: inline-block;
	background-color: #fff;
	width: 20%;
	margin: 0 5px;
	border: 1px solid #F09006;
	cursor: pointer;
	transition: all .3s ease-in;
}

.marcas .tab .tablinks:hover{
	box-shadow: 2px 2px 5px #F09006;
}

.marcas .tab .tablinks .img-tab{
	width: 100%;
}

.marcas .tabcontent{
	display: none;
	padding-top: 20px;
}

.marcas .tabcontent h4{
	color: #F09006;
	font-weight: 400;
	margin-bottom: 10px;
	border-bottom: 1px solid #F09006;
}

.marcas .tabcontent h6{
	color: #F09006;
	font-weight: 400;
}

.btnpopup{
	color: #F09006;
	font-weight: 500; 
}

.pre-footer{
	background-color: #F09006;
	padding: 20px;
}

.pre-footer img{
	width: 100%;
	max-width:300px;
}

footer{
	background-color: #fff;
	display: block;
	color: #F09006;
	font-weight: 400;
	text-align: center;
	padding: 5px 30px;
}

footer p{
	padding: 0;
}

footer a{
	color: #F09006;
}

.modal{
	position: auto;
}

.modal-backdrop {
	background-color: #000;
	opacity:0.75 !important;
}

.modal-content {
	overflow-y: auto;
	padding: 25px 25px 0px 25px;
}

.modal-content h3{
	display: block;
	color: #F09006;
	font-size: 25px;
	font-weight: 500;
	line-height: 30px;
}

.modal-content h4{
	display: block;
	color: #F09006;
	font-size: 20;
	line-height: 20px;
}

.modal-content hr{
	border: 1px solid #242423;
	margin-bottom: 15px;
}

.modal-header {
	padding: 5px 0px;
	border-bottom: 2px solid #F09006;
}
  
.modal-body{
    max-height: 75vh;
	padding: 15px 0px;
    overflow-y: auto;
}

.modal-footer {
	padding: 15px 0px;
	border-top: 2px solid #F09006;
}

.body-login{
	position: block;
	width: 100%;
	height: 100vh;
}

.login {
	position: relative;
	background-color: #fff;
	width: 30%;
	height: 100vh;
	float: left;
	padding: 20px 30px;
	vertical-align: center;
}

.fondo-login{
	position: relative;
	display: flex;
	width: 70%;
	height: 100vh;
}

.fondo-login img{
	object-fit: cover;
	object-position: center;	
}

.box-login{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 90%;
	text-align: center;
	padding: 20px;
}

.box-login p{
	font-weight: 300;
	margin: 15px 0px 15px 0px;
}

.box-login p a{
	color: #F09006;
	font-weight: 500;
}

.box-login img.logo{
	width: 95%;
	max-width: 500px;
}

.caja-login{
	background-color: #F09006;
	border-radius:10px;
	padding: 30px;
}

.caja-login img{
	width: 100%;
	max-width: 349px;
	margin-bottom: 15px;
}

.caja-login h6{
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

.caja-login label{
	display: block;
	color: #fff;
	font-weight: 400;
	text-align: left;
	margin-bottom: 10px;
}

.caja-login input[type="text"],
.caja-login input[type="email"],
.caja-login input[type="password"]{
	width: 100%;
	font-weight: 400;
	margin-bottom: 15px;
	padding: 5px;
	border: 1px solid #fff;
}

.caja-login button[type="submit"]{
	background-color: #fff;
	font-size: 16px;
	color: #F09006;
	font-weight: 500;
	padding: 5px 15px;
	border: 1px solid #fff;
	transition: all .3s ease-in;
	cursor: pointer;
	margin-top: 10px;
}

.caja-login button[type="submit"]:hover{
	background-color: #F09006;
	color: #fff;
}

.border-img{
	margin-bottom: 15px;
	border: 1px solid #F09006;
	box-shadow: 2px 2px 3px #eee;
}

#general .columna,
#detalle .columna{
	text-align: center;
}

.form-participacion .title3{
	margin-bottom: 5px;
}

.form-participacion textarea{
	width: 100%;
	resize: none;
}

.form-participacion .count{
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

.steps {
	text-align: center;
	margin: 10px 0px 40px 0px;
}

.step {
	position: relative;
	display: inline-block;
	background-color: #e1e1e1;
	color: #F09006;
	font-weight: 500;
	margin: 0;
	padding: 15px 20px 15px 40px;
	border: none;
}

.step:after{
	position: absolute;
	top: 0;
	right: -24px;
	display: inline-block;
	content: "";
	width: 0;
	height: 0;
	border-left: 24px solid #e1e1e1;
	border-top: 23px solid transparent;
	border-bottom: 23px solid transparent;
	z-index: 2;
}

.step:before{
	position: absolute;
	top: 0;
	right: -28px;
	display: inline-block;
	content: "";
	width: 0;
	height: 0;
	border-left: 24px solid #fff;
	border-top: 23px solid transparent;
	border-bottom: 23px solid transparent;
	z-index: 1;
}

.step.active{
	background-color: #F09006;
	color: #fff;
}

.step.active:after{
	border-left-color: #F09006;
}

ul.checklist-opt li{
	padding-top: 5px;
	padding-bottom: 5px;
}

ul.checklist-opt li ul{
	padding-left: 15px;
}

ul.checklist-opt li ul li{
	padding-top: 0;
}

.form-participacion input[type="file"]{
	padding-top: 15px;
	padding-bottom: 15px;
}

#gastos-porcentaje input[type="text"]{
	width: 100%;
	padding: 5px;
}

#gastos-porcentaje p{
	text-align: center;
	padding-top: 0;
	line-height: 18px;
}

#prevBtn,
#nextBtn,
#sendBtn,
#upload{
	background: #fff;
	font-size: 16px;
	color: #F09006;
	font-weight: bold;
	margin-left: 15px;
	padding: 5px 20px;
	border: 1px solid #F09006;
	cursor: pointer;
	transition: all .3s ease-in;
}

#prevBtn:hover,
#nextBtn:hover,
#sendBtn:hover,
#upload:hover{
	background: #F09006;
	color: #fff;
}

#prevBtn:disabled,
#nextBtn:disabled,
#sendBtn:disabled,
#upload:disabled{
	background-color:#f6f2e9;
	border: 1px solid #808080;
	color: #808080;
	cursor: auto;
}

#descarga.text-inscripcion,
#propuesta.text-inscripcion{
	position: relative;
}

#descarga.text-inscripcion p,
#propuesta.text-inscripcion p{
	padding: 0;
}

#descarga.text-inscripcion .btn-descarga,
#propuesta.text-inscripcion .btn-descarga{
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	background: #F09006;
	color: #fff;
	font-weight: bold;
	padding: 10px 15px;
	border: 1px solid #F09006;
	transition: all .3s ease-in;
}

#descarga.text-inscripcion .btn-descarga:hover,
#propuesta.text-inscripcion .btn-descarga:hover{
	background: #fff;
	color: #F09006;
}

i.new{
	position: relative;
}

i.new:after{
	position: absolute;
	content: "Nuevo";
	top: 1px;
	left: 20px;
	background: red;
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	padding: 5px;
}

ol.listado{
	list-style: circle;
	padding-left: 30px;
}

ol.listado li{
	padding-bottom: 5px;
}

.text-inscripcion ul.link-option li{
	display: inline-block;
	font-size: 16px;
	margin-right: 15px;
}

.btn-fas{
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.chk-aux {
	display:none;
}

.fa-icon {
	color:#F09006;
}

.info {
	float:left;
	padding-left:43px;
}

#div-months, #div-courses, #div-contact, #div-authority {
	display:none;
}

.morecontent { display: none; }
.morelink { display: block; cursor: pointer; color:#F09006; }
.morelink:hover { text-decoration: underline; }
.hidden { display: none; }

.downnav{
	float:right;
}

#btn-logout-icon{
	display: none;
	margin:0px;
}

#calendar{
	height:570px;
}

.ind-desktop{
	display: block;
}

.ind-mobile{
	display: none;
}

.img-header{
	width:100%;
	max-width:300px;
	margin:10px;
}

.fc-unthemed th{
	background-color: #76828E !important;
	padding:5px !important;
}

.fc-widget-header a,
.fc-widget-header span{
    color: #fff !important;
}

.toggle{margin:10px 20px}

.fa-menu{margin-right:15px; width:15px}

.btn-secondary{
	color:#fff !important;
	background-color:#808080 !important;
	border-color:#808080 !important;
}

.btn-danger{
	color:#fff !important;
	background-color:#F09006 !important;
	border-color:#F09006 !important;
}

#pre-code{
	float:left; 
	width:70%;
	border-right:none;
	text-align:right;
	padding-right:0;
}

#suf-code{
	float:right; 
	width:30%; 
	border-left:none;
	padding-left:0;
}

.icn-sct{
	float:right;
	margin-top:-35px;
	margin-right:10px;
}

.search_field {
	border: 1px solid #F09006;
	border-radius:10px;
}

.search_field input {
	width: 88%;
    border: none;
	margin: 0;
}

.search_field select {
	width: 80%;
    border: none;
	margin: 0;
}

.search_field a {
	width: 12%;
	text-align: center;
}

.lbl-msg {
	color:#F09006;
	font-weight: bold;
	font-style: italic;
	line-height: 30px;
}

.diagram {
    width: 100%;
    height: 500px;
    border: 1px solid #F09006;
}

.content {
	margin-top:10px;
	text-align:center;
}

.content i {
	margin-bottom:5px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
	border-bottom: 1px solid #F09006;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 10px;
    transition: 0.3s;
	color: #F09006;
    border: 1px solid #F09006;
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
  
/* Change background color of buttons on hover */
.tab button:hover, .tab button.active {
    background-color: #F09006;
	color: #fff;
}

/* Style the tab content */
.tabcontent {
    padding-top: 12px;
}

.tablereporte{
	width: 100%;
	font-size: 16px;
}

.tablereporte th{
	position: relative;
	background-color: #F09006;
	color: #fff;
	padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.tablereporte th:after{
	position: absolute;
	right: 0;
}

.tablereporte th:last-child:after{
	content: inherit;
}

.tablereporte td{
    border-bottom: 1px solid #f0f0f0 !important;
    padding: 10px;
}

.tablereporte tr:hover{
	background-color: #F0900633;
	cursor: pointer;
}

.tablereporte td.number{
    text-align: right;
}

.tablereporte tr.odd td:first-child,
.tablereporte tr.even td:first-child {
    padding-left: 4em;
}

button.dt-button{
	position: relative;
	display: inline-block;
	background-color: #fff;
	color: #F09006;
	width: 150px;
	font-weight: 500;
	padding: 10px 15px;
	border: 2px solid #F09006;
	transition: all .3s ease-in;
    cursor: pointer;
}

button.dt-button:hover{
	background-color: #F09006;
	color: #fff;
}

button.dt-button:disabled{
	background-color:#f6f2e9;
	border: 1px solid #808080;
	color: #808080;
	cursor: auto;
}

#workSpace{
	border:1px solid #F09006;
	border-radius: 10px;
}

.form-section{
	border:1px solid #F09006;
	border-radius:10px;
	padding:14px 14px 5px 14px;
	background-color:#F0900620;
	margin-bottom:20px;
}

.mycontent {
    border: 1px solid #F09006;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: none;
	padding:14px 14px 5px 14px;
	background-color:#F0900620;
}

.sub-form {
	margin:-12px 0 20px
}

.sub-table {
	margin:-12px 0 9px
}

.col_numbers td:nth-child(n+2) {text-align:right}
.tbl-details td:first-child {background-color:#F0900620}
.tbl-details tfoot td {font-weight:bold}

@media (min-width: 992px){
	.modal-xl {
	  width: 1200px;
	}
}

@media (min-width: 1200px){

}

@media (min-width: 1000px) and (max-width: 1024px){

}

@media (min-width: 768px) and (max-width: 999px){

}

@media (min-width: 480px) and (max-width: 767px){

}

@media only screen and (max-width: 479px){
	body,input,textarea,ul,select,option,h2,footer p,.title2 h6,p{
		font-size: 15px;
	}

	.fc-toolbar {
		font-size: 14px;
	}

	.fc-toolbar h2 {
		display:none;
	}

	.img-header{
		display:block;
		margin:auto;
	}

	.title1{
		font-size: 20px;
		margin: 10px 0px 20px;
	}
	
	.title2{
		margin-bottom: 10px;
		font-size: 10px;
	}

	.fondo-login {
		width:0%;
	}

	.columna-2,.columna-2c,.columna-3,.columna-3c,
	.columna-4, .columna-4c,.columna-5,.columna-5c,
	.columna-6,.columna-6c,.columna-7,.columna-7c,
	.columna-8,.columna-8c,.columna-9,.columna-9c,
	.columna-10,.columna-10c,.login{
		width: 100%;
	}
	
	.ind-desktop{
		display: none;
	}
	
	.ind-mobile{
		display: block;
	}
	
	#btn-logout-icon{
		display: block;
	}

	.pre-footer img{
		width:50%;
	}

	#prevBtn{
		position: relative;
		display: inline-block;
		background-color: #fff;
		color: #F09006;
		font-weight: 500;
		margin: 0px 0px 20px 0px;
		padding: 10px 15px;
		border: 2px solid #F09006;
		transition: all .3s ease-in;
		cursor: pointer;
		width: 100%;
	}
	
	#prevBtn:hover{
		background-color: #F09006;
		color: #fff;
	}
	
	#prevBtn:disabled{
		background-color:#f6f2e9;
		border: 1px solid #808080;
		color: #808080;
		cursor: auto;
	}

	#calendar{
		height:540px;
	}

	#mdl-activity i{
		display:none;
		width:0%;
	}
	
	#mdl-activity .nivelado{
		flex-direction: column;
	}
	
	.btn-primary,.btn-effie,.btn-effie-inv,#btn-agregar,#btn-editar,#btn-borrar,#btn-cancelar{
		width:100%;
		margin-bottom: 10px;
		font-size:15px;
	}

	#txt-date{
		font-size: 20px;
		margin-bottom: 10px;
		text-align: center;
	}

	#guion{
		display:none;
	}

	#pkr-ini:before {
		position: relative;
		content: 'Hora inicio:';
		width: 50%;
	}

	#pkr-fin:before {
		position: relative;
		content: 'Hora fin:';
		width: 50%;
	}
}
